{% extends "base.twig" %}

{% block content %}
    {% if posts is not empty %}
        <ul>
            {% for post in posts %}
                <li>{{ include('parts/teaser.twig') }}</li>
            {% endfor %}
        <ul>
    {% endif %}

    {# {{ include('pagination.twig') }} #}
{% endblock %}
