<!DOCTYPE html>
<html lang="{{ site.language_attributes }}">

{% block head %}
    {% include 'head.twig' %}
{% endblock %}

<body class="{{ body_class }}">
    {{ function('wp_body_open') }}

    <header>
        {% include 'header.twig' %}
    </header>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}
    </footer>

    {{ function('wp_footer') }}
    {% do action('get_footer') %}
</body>

</html>
