<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
</head>

<body data-template="base.twig">
    <header class="bg-slate-500">
        {% include 'header.twig' %}
    </header>

    <main class="content">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="footer">
  {% include 'footer.twig' %}
    </footer>

</body>

</html>