{% extends "base.twig" %} {# Assurez-vous d'étendre le layout de base que vous utilisez dans votre thème #}

{% block content %}
  <h1>Page Secrète</h1>
  <p>{{ message }}</p> {# Affiche le message envoyé depuis le contexte PHP #}
  
  {# Ici, vous pouvez ajouter d'autres éléments HTML ou Twig pour enrichir votre page. #}
  <div>
    Voici des informations confidentielles ou des fonctionnalités accessibles uniquement aux utilisateurs authentifiés.
  </div>
{% endblock %}
