<footer class="crm__footer">
	<div class="footer-area">
			 <div class="social-icons">
        {{ do_shortcode('[DISPLAY_ULTIMATE_SOCIAL_ICONS]') }}
    </div>
		{% include 'parts/menu-secondaire.twig' with { items: menu_secondaire.get_items } %}
		</div>

		 {{ function('wp_footer') }}
</footer>
