
<header  class="bg-slate-500">
{% block header %}
<h1>HEADER</h1>
    <section class="top-header">
        <div class="bg-slate-400">
            <p>Centre de Réadaptation de Mulhouse, Rééducation et Formation Professionnelle</p>
        </div>

    </section>

    <div class="container-banner">
        <div class="crm-banner">
            <a href="<?php echo home_url( '/' ); ?>">
                <img src=""alt="Logo">
                    
            </a>
        </div>
        <div class="crm-animation-title">
            <h1>L'Animation au CRM</h1>
        </div>
    </div>

    {# {% include "menu.twig" with {'items': menu.get_items} %} #}
{% endblock %}
</header>
