
<header  class="bg-slate-500">
{% block header %}
    <section class="top-header">
        <div class="crm-slogan">
            <p>Centre de Réadaptation de Mulhouse, Rééducation et Formation Professionnelle</p>
        </div>

    </section>

    <div class="container-banner">
        <div class="crm-banner">
            <a href="{{ home_url('/') }}">
                <img src="{{ logo_url }}"
                    alt="Logo">
                    
            </a>
        </div>
        <div class="crm-animation-title">
            <h1>L'Animation au CRM</h1>
        </div>
    </div>
    <div class="menu-border-wrapper">
        <div class="crm__header__menu">
     {% include 'parts/menu.twig' with { items: menu.get_items } %}
        </div>
        </div>
 
    
{% endblock %}
</header>
