{% extends "base.twig" %}

{% block content %}
<h2 class="ti">{{ post.title }}</h2>
			<p class="font-italic">by {{ post.author }}, {{ post.date }}</p>
			<div>{{ post.content }}</div>
		
{% endblock %}
