{% extends 'base.twig' %}

{% block content %}
    {% for post in posts %}
    <article class="post-type-{{ post.type }}" id="post-{{ post.id }}">
        <section class="article-content">
              {% include 'parts/top-page.twig' %}
            <div class="article-body">{{ post.content }}</div>
             
        </section>
    </article>
    {% endfor %}
{% endblock %}
