{% extends "base.twig" %}

{% block content %}
<h2 class="ti">{{ post.title }}</h2>
			<p class="font-italic">by {{ post.author }}, {{ post.date }}</p>
			<div>{{ post.content }}</div>
			<h2 class="hhh">Variable examples</h2>
			<p>For more information visit <a href="https://timber.github.io/docs/">Timber Docs</a></p>
{% endblock %}
