    {# parts/bottom-wrapper.twig #}
    <section class="bottom-wrapper">
    <div class="bottom-contact">
    </div>
      <div class="social-icons">
        {{ do_shortcode('[DISPLAY_ULTIMATE_SOCIAL_ICONS]') }}
    </div>
    
    </section>
