<!DOCTYPE html>
<html {{ site.language_attributes }}>

<head>
   <meta charset="{{ site.charset }}">
   {% block head %}
   <title>{{ site.title }}</title>
   {% endblock %}
</head>

< <body>
   <main>
      {% block content %}
      {% endblock %}
   </main>

   <footer>
      {% block footer %}
      <p>Brought to you with ❤ by the Timber.</p>
      {% endblock %}
   </footer>
   </body>

</html>
