:root {
    --color-theme-primary:  #1b296a;
    --color-theme-secondary:  #ed6840;
    --color-theme-tertiary:  #cf2d4f;
    --color-theme-quaternary:  #7db9da;
    --color-theme-quinary: #f6af2e;
    --color-theme-senary:  #488287;
}

